body{
	font-family: 'EB Garamond', serif;
	background-color: #ccc;
}

img{
	width: 100%;
	height: auto;
	display: block;
}

.container{
	width: 100%;
	margin: 0 auto;
}
.section {
    padding: 10px 20px;
    margin-bottom: 50px;
}

.description{
	text-align: justify;
}
.cover{
	float: left;
	padding: 0 10px 0 0;
	max-width: 255px;
	width: 100%;
}

.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.gallery-item{
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 40%;
	margin: 5px;
}
.gallery-item_small{
	width: 45%;
	margin: 10px;
}


.flag-icon {
    display: inline-block;
    width: auto;
    margin: 0 5px;
    max-width: 22px;
    max-height: 15px;
}

@media screen and (max-width: 680px) {
    .cover{
		max-width: 100%;
		padding: 0 0 10px 0;
	}
	.description{
		width: 100%;
	}
}

@media screen and (max-width: 520px) {
	.section-title{
		font-size: 16px;
	}
	.section {
		padding: 10px 20px;
		font-size: 14px;
	}
}


.active {
    color: #000000;
}