﻿.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-top: 15px;
    padding-bottom: 15px;
}

h1, h2 {
    font-family: 'EB Garamond', serif;
}

.row {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

body {
    font-family: 'EB Garamond', serif;
    background: url(../Content/Tours/images/map.jpg);
}
input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 3px;
    border: 1px solid #828282;
}
textarea {
    display: block;
    width: 100%;
    min-height: 200px;
    padding: 10px;
    margin: 0 0 10px 0;
    border: 1px solid #828282;
    border-radius: 3px;
}
a:hover, a:focus {
    text-decoration: none;
}

.promo-wrap {
    padding: 0;
    text-align: center;
}

.promo {
    position: relative;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}
.gallery-photo {
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
}
.shadow {
    margin-top: 50px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}
.form-description {
    font-size: 22px;
    margin-top: 0;
}
.social-block {
    margin-top: 50px;
    border-top: 1px solid #828282;
}
.social-list {
    list-style: none;
    margin: 0;
    padding: 0;

}
.social-list_item {
    margin: 10px 0;    
}

.social-list_item a {
    color: #828282;
    text-decoration: none;
}

.social-icon {
    width: 20px;
    height: auto;
    display: inline-block;
    margin: 0 10px;
}

.btn{
    border: 1px solid;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 10px 23px;
    text-shadow: 0 1px 30px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0 1px 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow:         0 1px 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    cursor: pointer;
}
.red-btn, .red-btn:active{
    border-color: #bb524f;
    border-top-color: #bb524f;
    border-bottom-color: #bc514e;
    background: #e37875;
    background: -moz-linear-gradient(top, #e37875 0%, #cf4442 100%);
    background: -webkit-linear-gradient(top, #e37875 0%,#cf4442 100%);
    background: linear-gradient(to bottom, #e37875 0%,#cf4442 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e37875', endColorstr='#cf4442',GradientType=0 );
    color: #b42825;
}
.red-btn:hover {
    color:aliceblue
}
.section-title {
    text-align: center;
    margin: 40px 0;
    text-transform: uppercase;
}

.section-description {
    margin: 0;
    font-size: 16px;
}
.loadingIndicator {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}
.align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
/*main nav*/
.button {
    background: url(/Content/Book/images/hamburger.png),rgba(1,1,1,0);
    background-size: cover;
    padding: 12px;
    margin: 10px 5px 5px 20px;
    border: none;
    outline: none;
    display: none;
}
.nav-wrapper {
    width: 100%;
    position: relative;
    top: 0;

    background-color: #fff;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 5px 10px -5px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 5px 10px -5px rgba(0, 0, 0, 0.75);
    z-index: 10;
}
.main-nav{
    display: inline-block;
    position: relative;
}

.main-nav_item{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: gray;
    text-transform: capitalize;
    font-size: 16px;
}
.main-nav_item:hover{
    background-color: #fff;
    color: #000;
}
.main-nav_item:focus{
    background-color: #fff;
    color: #000;
}
.sticky {
    position: fixed;

}

.language-wrapper {
    float: right;
    margin-top: 5px;
    display: inline-block;
    margin: 15px 20px 10px 0;
}

.language-panel {
    display: block;
    background: #fff;
    min-width: 110px;
}

.language-panel-item {
    padding: 0 10px 0 5px;
    display: inline-block;
    text-decoration: none;
    color: grey;
    border-right: 1px solid #ccc;
    font-style: italic;
}
.language-panel-item:last-child {
    border: none;
}
.language-panel-item:hover {
    color: #000000;
}
.flag-icon {
    display: inline-block;
    width: auto;
    margin: 0 5px;
    max-width: 22px;
    max-height: 15px;
}
.footer {
    padding: 5px 0;
    text-align: right;
    font-size: 18px;
    margin-top: 50px;
}

.footer p {
    padding: 10px 0;
    margin: 0;
    font-style: italic;
    color: grey;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: grey;
}

/*.tour-link:hover + .tour-wrapper {
    display: block;
}


.tour-wrapper:hover {
    display: block;
}*/

.video-block {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin: 10px 0;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.book-icon {
    max-width: 380px;
    height: auto;
    margin: 0 auto;
}
@media screen and (min-width: 680px) {

    .tour-wrapper {
        position: absolute;
        width: 100%;
        max-width: 150px;
        background-color: #fff;
        right: 115px;
        top: 52px;
        -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
    }
}
@media screen and (max-width: 680px) {
    .cover{
        max-width: 100%;
        padding: 0 0 10px 0;
    }
    .description{
        width: 100%;
    }
    .main-nav {
        display: none;
        width: 50%;
        position: absolute;
        background-color: #fff;
        -webkit-box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow:    2px 4px 16px 0px rgba(0, 0, 0, 0.75);
        box-shadow:         2px 4px 16px 0px rgba(0, 0, 0, 0.75);
    }
    .main-nav_item {
        display: block;
        margin-left: 0;
    }
    .button {
        display:inline-block;
    }

    .language-wrapper { margin: 10px 20px 10px 0; }

    .menu-active {
        display: block;
    }
}

@media screen and (max-width: 520px) {
    .main-nav_item{
        padding: 10px 10px;
        margin-left: 10px;
    }
    .section .title{
        font-size: 16px;
    }
    .section {
        padding: 10px 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .main-nav_item{
        font-size: 12px;
        padding: 10px 10px;
        margin-left: 10px;
    }
    .section-title {
        margin: 20px 0;
    }
}

@media screen and (max-width: 360px) {
    .main-nav_item{
        font-size: 12px;
        padding: 10px 5px;
        margin-left: 15px;
    }
}

.active {
    color: #000000;
}


