﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="Кыргызстан, Kyrgyzstan, Issyk-Kul, bird watching, tour, орнитология, birds, редкие птицы, rare birds, книга про птиц, bird book,Tien-Shan,birds of Pamirs">
    <meta name="Description" content="Kyrgyzstan bird watching tour">
    <link rel="icon" type="image/png" href="~/favicon_bird.ico">
    <link rel="SHORTCUT ICON" href="~/favicon_bird.ico">

    <link rel="stylesheet" href="~/Content/Vendor/InternationalTelephoneInput/css/intlTelInput.css">
    <title>Kyrgyzstan bird watching tour</title>
    @RenderSection("head", required: false)

</head>
<body>
    @RenderBody()



    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/Vendor/fancybox/jquery.fancybox.pack.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/Vendor/InternationalTelephoneInput/js/intlTelInput.js"></script>
    <script src="~/Content/js/main.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
