 

.title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 62px;
    text-shadow: 3px 0px 15px rgba(0, 0, 0, 0.75);
    color: #fcfcfc;
}
.promo-wrap {
    padding: 0;
    text-align: center;
}
.promo{

    position: relative;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 2px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.gallery-photo{
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         0px 0px 15px 0px rgba(0, 0, 0, 0.6);
}

.middle_block {
    margin: 10px 0;
    display: block;
}

table {
    width: 100%;
    height: auti
    margin-top: 30px;
} 
table, th, td {
    border: 1px solid #828282;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
@media screen and (max-width: 680px) {
    .title {
        font-size: 34px;
    }
    .shadow {
        margin: 10px;
    }
}

