﻿<section id="contact" class="col-xs-12 col-md-12 col-lg-12">
    @{
        AjaxOptions ajaxOpts = new AjaxOptions
        {
            Url = Url.Action("SendMail"),
            HttpMethod = "POST",
            LoadingElementId = "loadingIndicator",

            /*Call backs*/
            OnBegin = "OnBeginMailSent",
            OnSuccess = "OnSuccessMailSent",
            OnFailure = "OnFailureMailSent",
            OnComplete = "OnCompleteMailSent"
        };
    }
    <div class="row">
        <h2 class="section-title">Напишите нам</h2>
        <div class="col-xs-12 col-md-6 col-lg-6 section-description">
            <p class="form-description">Don’t be shy, drop us an email and say hello! We are a really nice bunch of people :)</p>
            <div class="social-block">
                <ul class="social-list">
                    <li class="social-list_item">
                        <a class=".fb-icon" href="https://www.facebook.com/sergei.toropov.35" target="_blank">
                            <img src="~/Content/icons/fb-icon.svg" class="social-icon" /> www.facebook.com/sergei.toropov
                        </a>
                    </li>
                    <li class="social-list_item">
                        <a href="tel:+996552502620">
                            <img src="~/Content/icons/phone-icon.svg" class="social-icon" />+996-552-502-620
                        </a>
                    </li>
                    <li class="social-list_item">
                        <a href="mailto:info@satbirds.com">
                            <img src="~/Content/icons/email-icon.svg" class="social-icon" />info@satbirds.com
                        </a>
                    </li>
                    <li class="social-list_item">
                        <a href="http://www.satento.com" target="_blank">
                            <img src="~/Content/icons/link-icon.svg" class="social-icon" />www.satento.com
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6">
            @using (Ajax.BeginForm("SendMail", "", ajaxOpts, new { id = "mailForm" }))
            {
                @Html.TextBox("Name", "", new { maxlength = "50", placeholder = "Введите ваше имя...", required = "required" })
                @Html.TextBox("Email", "", new { maxlength = "50", type = "email", placeholder = "Введите ваш E-mail...", required = "required" })
                @Html.TextBox("Phone", "", new { maxlength = "50", type = "tel", id = "phone", placeholder = "" })
                @Html.TextArea("Body", new { maxlength = "1000", required = "required", placeholder = "Введите ваше сообщение..." })
                <input class="btn red-btn" type="submit" name="button" value="Отправить">

                <div id="loadingIndicator" class="loadingIndicator">
                    <p class="align-center" style="font-size: 18px; color: #fff;">Please wait while your letter is sent ...</p>
                </div>
            }
        </div>
    </div>
</section>