﻿<div class="nav-wrapper clearfix">
    <div class="container">
        <div class="row">
            <button class="button" id="menu_btn"></button>
            <nav class="main-nav ">
                @if (!Request.Url.AbsoluteUri.Contains("books"))
                {
                    <a href="/books/en" class="main-nav_item">Books</a>
                }
                @if (Request.Url.AbsoluteUri.Contains("book") && !Request.Url.AbsoluteUri.Contains("books"))
                {
                    <a href="#top" class="main-nav_item" id="main-nav_item">About book</a>
                    <a href="#Book-photos" class="main-nav_item" id="main-nav_item">Book photos</a>
                    <a href="#Example-pages" class="main-nav_item" id="main-nav_item">Example pages</a>
                    <a href="#About-author" class="main-nav_item" id="main-nav_item">About author</a>
                }
                @if (Request.Url.AbsoluteUri.Contains("tour"))
                {
                    <a href="#top" class="main-nav_item" id="main-nav_item">Program of tour</a>
                    <a href="#price" class="main-nav_item" id="main-nav_item">Price</a>
                    <a href="#contact" class="main-nav_item" id="main-nav_item">Contact us</a>
                }


                @if (true)
                {
                    <a href="#" class="main-nav_item tour-link" data-toggle="collapse" data-target="#demo">About the tours <span>&#x25BC</span></a>
                    <div class="tour-wrapper collapse" id="demo">
                        <a href="~/tours/en/7" class="main-nav_item">7 day tour</a>
                        <a href="~/tours/en/10" class="main-nav_item">10 day tour</a>
                    </div>
                }
                @if (!Request.Url.AbsoluteUri.Contains("aboutus"))
                {
                    <a href="/aboutus/en" class="main-nav_item" style="">About us</a>
                }
                @if (Request.Url.AbsoluteUri.Contains("aboutus"))
                {
                    <a href="/aboutus/en" class="main-nav_item active">About as</a>
                }

            </nav>
            <div class="language-wrapper">
                <div class="language-panel">                    
                    <a href="@Request.Path.ToString().Replace("/ru", "/en")" class="language-panel-item active"><img class="flag-icon" src="~/Content/Book/images/United_Kingdom.png" width="22" height="15"> English </a>
                    <a href="@Request.Path.ToString().Replace("/en", "/ru")" class="language-panel-item"><img class="flag-icon" src="~/Content/Book/images/Russia.png" width="22" height="15"> Русский </a>
                </div>
            </div>
        </div>
    </div>
</div>
