﻿<div class="nav-wrapper clearfix">
    <div class="container">
        <div class="row">
            <button class="button" id="menu_btn"></button>
            <nav class="main-nav ">
                @if (!Request.Url.AbsoluteUri.Contains("books"))
                {
                    <a href="/books/ru" class="main-nav_item">Книги</a>
                }
                @if (Request.Url.AbsoluteUri.Contains("book") && !Request.Url.AbsoluteUri.Contains("books"))
                {
                    <a href="#top" class="main-nav_item" id="main-nav_item">О Книге</a>
                    <a href="#Book-photos" class="main-nav_item" id="main-nav_item">Фото Книги</a>
                    <a href="#Example-pages" class="main-nav_item" id="main-nav_item">Примеры станиц</a>
                    <a href="#About-author" class="main-nav_item" id="main-nav_item">О авторе</a>
                }
                @if (Request.Url.AbsoluteUri.Contains("tour"))
                {
                    <a href="#top" class="main-nav_item" id="main-nav_item">Программа тура</a>
                    <a href="#price" class="main-nav_item" id="main-nav_item">Цена</a>
                    <a href="#contact" class="main-nav_item" id="main-nav_item">Свяжитесь с нами</a>
                }


                @if (true)
                {
                    <a href="#" class="main-nav_item tour-link" data-toggle="collapse" data-target="#demo">О наших турах <span>&#x25BC</span></a>
                    <div class="tour-wrapper collapse" id="demo">
                        <a href="~/tours/ru/7" class="main-nav_item">7 дневный тур</a>
                        <a href="~/tours/ru/10" class="main-nav_item">10 дневный тур</a>
                    </div>
                }
                @if (!Request.Url.AbsoluteUri.Contains("aboutus"))
                {
                    <a href="/aboutus/ru" class="main-nav_item" style="">О нас</a>
                }
                @if (Request.Url.AbsoluteUri.Contains("aboutus"))
                {
                    <a href="/aboutus/ru" class="main-nav_item active">О нас</a>
                }

            </nav>
            <div class="language-wrapper">
                <div class="language-panel">
                    <a href="@Request.Path.ToString().Replace("/ru", "/en")" class="language-panel-item active"><img class="flag-icon" src="~/Content/Book/images/United_Kingdom.png" width="22" height="15"> English </a>
                    <a href="@Request.Path.ToString().Replace("/en", "/ru")" class="language-panel-item"><img class="flag-icon" src="~/Content/Book/images/Russia.png" width="22" height="15"> Русский </a>
                </div>
            </div>
        </div>
    </div>
</div>
