﻿
@section head {
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Vendor/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/Tours/css/main.css">

}
<body>
    <header class="header">
        @Html.Partial("_Navbar-Ru")

    </header>
    <div class="container-fluid">
        <div class="row">

            <div class="container shadow" style="padding-bottom: 50px;">
                <div class="video-block">
                    <iframe class="resp-iframe" src="/Content/Video/film.mp4" width="1024" height="576"></iframe>
                </div>

                <section class="col-xs-12 col-md-12 col-lg-12">
                    <h2 class="section-title">О нас</h2>
                    <div class="section-description">
                        <p>Мы имеем богатый опыт в проведении охотничьих, энтомологических и бёрдвотчерских туров на территории Кыргызстана. </p>
                        <p>С 1994 и по настоящее время в летний период мы проводим энтомологические туры с любителями бабочек и жуков. За этот период у нас в стране побывали более 200 любителей природы из Японии, Германии, Великобритании, Бельгии, Франции, Швеции и Финляндии.</p>
                        <p>На протяжении 15 лет с 1989 в осенний период мы проводили трофейные охоты на Барана Марко-Поло, Сибирского горного козла, Гималайского улара и Каменную куропатку с более чем 150 охотниками из США, Стран Западной Европы и Саудовской Аравии.</p>
                        <p>А с 2000 года и по настоящее время мы проводим туры с бёрдвотчерами из Великобритании, Германии, Франции и Испании. За этот период нас посетили более 100 любителей птиц.</p>

                    </div>
                </section>

                <div class="row">
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <a class="fancybox" rel="group" href="~/Content/AboutUs/uploads/slide_01.jpg"><img class="img-responsive gallery-photo" src="~/Content/AboutUs/uploads/slide_01.jpg" width="360" height="240" title="" alt=""></a>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <a class="fancybox" rel="group" href="~/Content/AboutUs/uploads/slide_02.jpg"><img class="img-responsive gallery-photo" src="~/Content/AboutUs/uploads/slide_02.jpg" width="360" height="240" title="" alt=""></a>
                        </div>

                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <a class="fancybox" rel="group" href="~/Content/AboutUs/uploads/slide_03.jpg"><img class="img-responsive gallery-photo" src="~/Content/AboutUs/uploads/slide_03.jpg" width="360" height="240" title="" alt=""></a>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <a class="fancybox" rel="group" href="~/Content/AboutUs/uploads/slide_04.jpg"><img class="img-responsive gallery-photo" src="~/Content/AboutUs/uploads/slide_04.jpg" width="360" height="240" title="" alt=""></a>
                        </div>

                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <a class="fancybox" rel="group" href="~/Content/AboutUs/uploads/slide_05.jpg"><img class="img-responsive gallery-photo" src="~/Content/AboutUs/uploads/slide_05.jpg" width="360" height="240" title="" alt=""></a>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <a class="fancybox" rel="group" href="~/Content/AboutUs/uploads/slide_06.jpg"><img class="img-responsive gallery-photo" src="~/Content/AboutUs/uploads/slide_06.jpg" width="360" height="240" title="" alt=""></a>
                        </div>
                    </section>
                </div>
                @Html.Partial("_ContactUs-Ru");
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12 footer">
                    <div class="container ">
                        <div class="row">
                            <p>www.satbirds.com @DateTime.Today.Year</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts {

    }
</body>