﻿
@section head {
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Vendor/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/Tours/css/main.css">
}
<body>
<header class="header" >

    @Html.Partial("_Navbar")
</header>

<div class="container-fluid">
<div class="row">
    
    <div class="container shadow" style="padding-bottom: 50px;">
        <section class="col-xs-12 col-md-12 col-lg-12">
            <h2 class="section-title">About us</h2>
            <div class="section-description">
                <p>We have wide experience in the providing of journeys for trophy hunters, bird-watchers, and entomologists, in Kyrgyzstan.</p>
                <p>From the 1994 till now, about 200 amateur and professional entomologists were our guests from Great Britain, Belgium, Germany, France, Sweden, Finland, and Japan or the unforgettable collecting of butterflies and beetles.</p>
                <p>During 15 years from the 1989, we have carried out almost 70 autumn hunts to the Marco Polo Argali, Siberian Ibex, Himalayan Snowcock, and Chukar Partridge, for visitors from the USA, Western Europe, and Saudi Arabia.</p>
                <p>Since 2000, we have provided field trips for more than 100 bird-watchers from Germany, Great Britain, France, Spain, and other countries.</p>
            </div>
        </section>
        <div class="row">
        <section class="col-xs-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <a class="fancybox" rel="group" href="~/Content/AboutUs/uploads/slide_01.jpg"><img class="img-responsive gallery-photo" src="~/Content/AboutUs/uploads/slide_01.jpg" width="360" height="240" title="" alt=""></a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <a class="fancybox" rel="group" href="~/Content/AboutUs/uploads/slide_02.jpg"><img class="img-responsive gallery-photo" src="~/Content/AboutUs/uploads/slide_02.jpg" width="360" height="240" title="" alt=""></a>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-6">
                <a class="fancybox" rel="group" href="~/Content/AboutUs/uploads/slide_03.jpg"><img class="img-responsive gallery-photo" src="~/Content/AboutUs/uploads/slide_03.jpg" width="360" height="240" title="" alt=""></a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <a class="fancybox" rel="group" href="~/Content/AboutUs/uploads/slide_04.jpg"><img class="img-responsive gallery-photo" src="~/Content/AboutUs/uploads/slide_04.jpg" width="360" height="240" title="" alt=""></a>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-6">
                <a class="fancybox" rel="group" href="~/Content/AboutUs/uploads/slide_05.jpg"><img class="img-responsive gallery-photo" src="~/Content/AboutUs/uploads/slide_05.jpg" width="360" height="240" title="" alt=""></a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <a class="fancybox" rel="group" href="~/Content/AboutUs/uploads/slide_06.jpg"><img class="img-responsive gallery-photo" src="~/Content/AboutUs/uploads/slide_06.jpg" width="360" height="240" title="" alt=""></a>
            </div>
        </section>
        </div>
        @Html.Partial("_ContactUs");
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 footer">
            <div class="container ">
                <div class="row">
                    <p>www.satbirds.com @DateTime.Today.Year</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@section scripts {

}
</body>