﻿@section head {
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Vendor/fancybox/jquery.fancybox.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Book/css/main.css">
}

<body>
    <header class="header" id="top">
        @Html.Partial("_Navbar-Ru")
    </header>

    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <a href="/book/ru" class="text-center">
                    <img class="book-icon" width="380" height="527" src="~/Content/Book/images/Jaket Birds.jpg" />
                    <h4 style="text-transform:uppercase;">ПТИЦЫ ПАМИРА, ГИССАРА, АЛАЯ И ТЯНЬ-ШАНЯ. ТОМ 1.</h4>
                </a>
            </div>
            <div class="col col-md-6">
                <a href="/book/ru/2" class="text-center">
                    <img class="book-icon" width="380" height="527" src="~/Content/Book_2/images/cover.png"  style="max-width: 435px;"/>
                    <h4 style="text-transform:uppercase;">ПТИЦЫ ПАМИРА, ГИССАРА, АЛАЯ И ТЯНЬ-ШАНЯ. ТОМ 2.</h4>
                </a>
            </div>
        </div>
    </div>
</body>
