﻿
@section head {
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Vendor/fancybox/jquery.fancybox.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Book/css/main.css">
}
<body>
    <header class="header" id="top">
        @Html.Partial("_Navbar-Ru")
    </header>
    <div class="container shadow">
        <section class="section section-description">
            <h2 class="section-title">ПТИЦЫ ПАМИРА, ГИССАРА, АЛАЯ И ТЯНЬ-ШАНЯ. Том 1.</h2>
            <div class="description clearfix">
                <div class="cover">
                    <img src="~/Content/Book/images/Jaket Birds.jpg" alt="The birds of Pamirs, Hissar, Alai and Tien Shan. Vol. 1. Non-passerines." width="380" height="527">
                </div>
                <span>Торопов С. А. Птицы гор Туркестана и Семиречья. Том 1. Неворобьиные. Часть 1. – Бишкек, 2017. – 587 с., цв. илл.</span>
                <p style="color: red;"><b>Цена: 155 &#8364;</b></p>
                <p>ISBN 978-9967-473-26-3</p>
                <p>Первая книга из серии, сочетающей черты научного издания и фотоальбома, посвящённой фауне птиц обширного горного района. Всего в 1 части 1 тома представлены 77 видов гнездящихся и 32 вида временно пребывающих в регионе, из отрядов Курообразные, Гусеобразные, Гагарообразные, Поганкообразные, Фламинго, Аистообразные, Веслоногие, Ястребообразные и Соколообразные. Для каждого вида приведены латинское, русское, английское, киргизское, казахское, таджикское и узбекское названия. Первый раздел книги отведён осёдлым и гнездящимся в регионе видам (подвидам), краткие их описания на русском и английском языках включают данные о типовой местности, распространении и характере пребывания в регионе, местообитаниях, основные сведения о биологии и численности; очерки также содержат информацию о размерах взрослых птиц и о подвидах (с типовыми локалитетами). Все очерки иллюстрированы фотографиями птиц в природе (для части видов, кроме того, – птенцов и гнёзд с кладками), характерных биотопов; распространение (на уровне подвидов) отражено на цветной рельефной карте. Второй раздел включает аннотированный список и цветные фотографии видов (подвидов) негнездящихся в регионе (зимующих, мигрирующих и залётных). Книга содержит также список литературы, алфавитные указатели латинских, русских и английских названий, и фотографии из экспедиций участников проекта. Издание предназначено зоологам, краеведам, специалистам сферы охраны природы и всем интересующимся орнитофауной. </p>
            </div>
        </section>

        <section class="section section-description" id="Book-photos">
            <h2 class="section-title">Фото Книги</h2>
            <div class="gallery">


                <div class="gallery-item_small">
                    <a class="fancybox" rel="group_0" href="~/Content/Book/images/book_2_b.jpg"><img src="~/Content/Book/images/book_2_s.jpg" /></a>
                </div>

                <div class="gallery-item_small">
                    <a class="fancybox" rel="group_0" href="~/Content/Book/images/book_3_b.jpg"><img src="~/Content/Book/images/book_3_s.jpg" /></a>
                </div>

                <div class="gallery-item_small">
                    <a class="fancybox" rel="group_0" href="~/Content/Book/images/book_4_b.jpg"><img src="~/Content/Book/images/book_4_s.jpg" /></a>
                </div>

                <div class="gallery-item_small">
                    <a class="fancybox" rel="group_0" href="~/Content/Book/images/book_5_b.jpg"><img src="~/Content/Book/images/book_5_s.jpg" /></a>
                </div>
            </div>
        </section>

        <section class="section section-description" id="Example-pages">
            <h2 class="section-title">Примеры Cтраниц</h2>
            <div class="gallery">
                <div class="gallery-item">
                    <a class="fancybox" rel="group" href="~/Content/Book/images/Document-page-001_b.jpg"><img src="~/Content/Book/images/Document-page-001.jpg" /></a>
                </div>

                <div class="gallery-item">
                    <a class="fancybox" rel="group" href="~/Content/Book/images/Document-page-002_b.jpg"><img src="~/Content/Book/images/Document-page-002.jpg" /></a>
                </div>

                <div class="gallery-item">
                    <a class="fancybox" rel="group" href="~/Content/Book/images/Document-page-003_b.jpg"><img src="~/Content/Book/images/Document-page-003.jpg" /></a>
                </div>

                <div class="gallery-item">
                    <a class="fancybox" rel="group" href="~/Content/Book/images/Document-page-004_b.jpg"><img src="~/Content/Book/images/Document-page-004.jpg" /></a>
                </div>
            </div>
        </section>

        <section class="section section-description" id="About-author">
            <h2 class="section-title">Об Авторе</h2>
            <div class="description clearfix">
                <div class="cover">
                    <img src="~/Content/Book/images/toropov.jpg" alt="Sergei A. Toropov" width="380" height="527">
                </div>
                <span><b>ТОРОПОВ Сергей Акиндинович</b></span>
                <p>Родился 16.11.1952. Окончил биологический факультет Киргизского государственного университета по специальности «биология» (1976). С 1968 по 1999 год занимался отловом и содержанием в условиях вольеров более 90 видов птиц отряда воробьиных. В 1976–84 гг. работал директором Зоологического музея Киргизского госуниверситета и занимался паспортизацией заказников республики, в 1984–89 гг. – начальником ихтиологической службы и затем руководителем Бассейнового управления по охране рыбных запасов Киргизии и Таджикистана. В 1989–2001 гг. руководил группой по обеспечению трофейных охот для иностранных туристов при Киргизохотрыболовсоюзе. Являлся участником и организатором более чем 80 экспедиций, в том числе международных, по Средней Азии и Казахстану. Член Киргизского энтомологического общества, принимал участие в составлении «Кадастра генетического фонда Кыргызстана» (тт. III и IV) и второго издания «Красной книги Кыргызской Республики». Автор серии иллюстрированных книг о бабочках и жуках Средней Азии и Казахстана. </p>
            </div>
        </section>
        
        @Html.Partial("_ContactUs-Ru");
    </div>
<footer class="footer">
    <p>www.satbirds.com @DateTime.Today.Year</p>
</footer>
@section scripts {
        
}
</body>