﻿
@section head {
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Vendor/fancybox/jquery.fancybox.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Book/css/main.css">
}
<body>
    <header class="header" id="top">
        @Html.Partial("_Navbar")
    </header>
    <div class="container shadow">
        <div class="row">
            <section class="section section-description">
                <h2 class="section-title">The birds of Pamirs, Hissar, Alai and Tien Shan. Vol. 1. Non-passerines. Part 2.</h2>
                <div class="description clearfix">
                    <div class="cover">
                        <img src="~/Content/Book_2/images/cover.png" alt="The birds of Pamirs, Hissar, Alai and Tien Shan. Vol. 1. Non-passerines. Part 2." width="380" height="527">
                    </div>
                    <span>Sergei A. Toropov The birds of Pamirs, Hissar, Alai and Tien Shan. Vol. 1. Non-passerines. Part 2. – Bishkek, 2020.</span>
                    <p style="color: red;">
                        <b>Price: 155 &#8364;</b>
                    </p>
                    
                    <p>This book combines characters of scientific edition and photobook and it is the second one from a series devoted to the birds of remarkable mountain area. Totally, the 2nd part of volume 1 presents 75 species breeding in the region and 61 non-residents species from orders Gruiformes, Otidiformes, Charadriiformes, Cuculiformes, Columbiformes, Pterocliformes, Caprimulgiformes, Apodiformes, Strigiformes, Bucerotiformes, Coraciiformes, and Piciformes. Latin, Russian, English, Kyrgyz, Kazakh, Tajik, and Uzbek names for each species are given, as well type localities for all listed species and subspecies. First chapter of the book contains the checklist of resident taxa and essays in Russian and English about breeding birds species; each essay includes data distribution and regional status, typical habitats, life-history, general abundance, measurements of mature birds, and resident subspecies. All essays are illustrated with colour photographs of birds in a natural setting, typical biotopes, and for some species – photographs of its juveniles and nests with eggs. Information about spreading of (sub)species is presented on colour relief-shaded map. The second chapter contains the annotated list and colour photographs (in nature) of non-residents (sub)species (wintering, migrants, and visitors). The book also contains references, alphabetical indices for Latin, Russian, and English bird names, errata and some corrections to the 1st part of Volume 1, and selected photos reporting field expeditions of project participants. It is aimed to zoologists, regional lore specialists, nature protection employees, and all persons versant about birds.</p>
                </div>
            </section>

            <section class="section section-description" id="Book-photos">
                <h2 class="section-title">Book photos</h2>
                <div class="gallery">


                    <div class="gallery-item_small">
                        <a class="fancybox" rel="group_0" href="~/Content/Book_2/images/book_1.jpg"><img src="~/Content/Book_2/images/book_1s.jpg" /></a>
                    </div>

                    <div class="gallery-item_small">
                        <a class="fancybox" rel="group_0" href="~/Content/Book_2/images/book_3.jpg"><img src="~/Content/Book_2/images/book_3s.jpg" /></a>
                    </div>

                    <div class="gallery-item_small">
                        <a class="fancybox" rel="group_0" href="~/Content/Book_2/images/book_2.jpg"><img src="~/Content/Book_2/images/book_2s.jpg" /></a>
                    </div>

                    <div class="gallery-item_small">
                        <a class="fancybox" rel="group_0" href="~/Content/Book_2/images/book_4.jpg"><img src="~/Content/Book_2/images/book_4s.jpg" /></a>
                    </div>
                </div>
            </section>

            <section class="section" id="Example-pages">
                <h2 class="section-title">Example pages</h2>
                <div class="gallery">
                    <div class="gallery-item">
                        <a class="fancybox" rel="group" href="~/Content/Book_2/images/page_1.jpg"><img src="~/Content/Book_2/images/page_1s.jpg" /></a>
                    </div>

                    <div class="gallery-item">
                        <a class="fancybox" rel="group" href="~/Content/Book_2/images/page_2.jpg"><img src="~/Content/Book_2/images/page_2s.jpg" /></a>
                    </div>

                    <div class="gallery-item">
                        <a class="fancybox" rel="group" href="~/Content/Book_2/images/page_3.jpg"><img src="~/Content/Book_2/images/page_3s.jpg" /></a>
                    </div>

                    <div class="gallery-item">
                        <a class="fancybox" rel="group" href="~/Content/Book_2/images/page_4.jpg"><img src="~/Content/Book_2/images/page_4s.jpg" /></a>
                    </div>
                </div>
            </section>

            <section class="section section-description" id="About-author">
                <h2 class="section-title">About author</h2>
                <div class="description clearfix">
                    <div class="cover">
                        <img src="~/Content/Book/images/toropov.jpg" alt="Sergei A. Toropov" width="380" height="527">
                    </div>
                    <span><b>Sergei A. Toropov</b></span>
                    <p>Date of birth: 16.11.1952. Education: Kyrgyz State University, Biological Faculty (1976); speciality: Biologist. Since 1968 till 1999 was engaged in the collecting and an aviary housing, for more than 90 passerine bird species. Professional employment: 1976–84 – Director of Zoological Museum (Kyrgyz State University); was also engaged in a certification of wildlife areas of Kirghizia. 1981–89 – Head of Ichthyological Service and afterwards Director of Regional Administration for the protection of fish resources in Kirghiz and Tadjik SSRs. 1990–2001 – Manager of the Group for providing of foreign hunt tours (Kyrgyz Union for Hunting & Fishery). Experienced in organising of trophy hunts for Marco Polo Argali. Participant/organiser in over 80 field expeditions in Middle Asia and Kazakhstan. Member of the Kyrgyz Entomological Society; one of compilers of the Genetical Fund Cadastre (Volumes III and IV) and Red Data Book (2nd edition) of Kyrgyzstan. Principal author of a series of illustrated books about butterflies and beetles of Middle Asia and Kazakhstan. </p>
                </div>
            </section>

            @Html.Partial("_ContactUs");
        </div>
    </div>
    <footer class="footer">
        <p>www.satbirds.com @DateTime.Today.Year</p>
    </footer>
    @section scripts {

    }
</body>