﻿
@section head {
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Vendor/fancybox/jquery.fancybox.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Book/css/main.css">
}
<body>
    <header class="header" id="top">
        @Html.Partial("_Navbar-Ru")
    </header>
    <div class="container shadow">
        <section class="section section-description">
            <h2 class="section-title">ПТИЦЫ ПАМИРА, ГИССАРА, АЛАЯ И ТЯНЬ-ШАНЯ. Том 1. Неворобьиные. Часть 2</h2>
            <div class="description clearfix">
                <div class="cover">
                    <img src="~/Content/Book_2/images/cover.png" alt="The birds of Pamirs, Hissar, Alai and Tien Shan. Vol. 1. Non-passerines. Part 2." width="380" height="527">
                </div>
                <span>Торопов С. А. ПТИЦЫ ПАМИРА, ГИССАРА, АЛАЯ И ТЯНЬ-ШАНЯ. Том 1. Неворобьиные. Часть 2. – Бишкек, 2020.</span>
                <p style="color: red;">
                    <b>Цена: 155 &#8364;</b>
                </p>

                <p>Вторая	книга	из	серии,	посвящённой	фауне	птиц	обширного	горного	района	и	сочетающая	черты	научного	издания	и	фотоальбома.	Всего	во	второй	части	первого	тома	представлены	75	видов	гнездящихся	и	61	вид	временно	пребывающих	в	регионе,	из	отрядов	Журавлеобразные,	Дрофообразные,	Ржанкообразные,	Кукушкообразные,	Голубеобразные,	Рябкообразные,	Козодоеобразные,	Стрижеобразные,	Совообразные,	Птицы-носороги,	Ракшеобразные	и	Дятлообразные.	Для	каждого	вида	приведены	латинское,	русское,	английское,	киргизское,	казахское,	таджикское	и	узбекское	названия.	Первый	раздел	книги	составляют	очерки	об	оседлых	и	гнездящихся	в	регионе	птицах	на	русском	и	английском	языках,	которые	включают	данные	о	типовой	местности	вида,	распространении	и	характере	пребывания	в	регионе,	местообитаниях,	основные	сведения	о	биологии	и	численности;	очерки	также	содержат	информацию	о	размерах	взрослых	птиц	и	о	подвидах	(с	типовыми	локалитетами).	Все	очерки	иллюстрированы	фотографиями	птиц	в	природе	(для	части	видов,	кроме	того,	–	птенцов	и	гнёзд	с	кладками),	характерных	биотопов;	распространение	(на	уровне	подвидов)	отражено	на	цветной	рельефной	карте.	Второй	раздел	включает	аннотированный	список	и	цветные	фотографии	видов	(подвидов)	негнездящихся	в	регионе	(зимующих,	мигрирующих	и	залётных).	Книга	содержит	также	список	литературы,	алфавитные	указатели	латинских,	русских	и	английских	названий,	список	опечаток	и	некоторых	поправок	к	первой	части	тома,	и	фотографии	из	экспедиций	участников	проекта.	Издание	предназначено	зоологам,	краеведам,	специалистам	сферы	охраны	природы	и	всем	интересующимся	орнитофауной.</p>
            </div>
        </section>

        <section class="section section-description" id="Book-photos">
            <h2 class="section-title">Фото Книги</h2>
            <div class="gallery">


                <div class="gallery-item_small">
                    <a class="fancybox" rel="group_0" href="~/Content/Book_2/images/book_1.jpg"><img src="~/Content/Book_2/images/book_1s.jpg" /></a>
                </div>

                <div class="gallery-item_small">
                    <a class="fancybox" rel="group_0" href="~/Content/Book_2/images/book_3.jpg"><img src="~/Content/Book_2/images/book_3s.jpg" /></a>
                </div>

                <div class="gallery-item_small">
                    <a class="fancybox" rel="group_0" href="~/Content/Book_2/images/book_2.jpg"><img src="~/Content/Book_2/images/book_2s.jpg" /></a>
                </div>

                <div class="gallery-item_small">
                    <a class="fancybox" rel="group_0" href="~/Content/Book_2/images/book_4.jpg"><img src="~/Content/Book_2/images/book_4s.jpg" /></a>
                </div>
            </div>
        </section>

        <section class="section section-description" id="Example-pages">
            <h2 class="section-title">Примеры Cтраниц</h2>
            <div class="gallery">
                <div class="gallery-item">
                    <a class="fancybox" rel="group" href="~/Content/Book_2/images/page_1.jpg"><img src="~/Content/Book_2/images/page_1s.jpg" /></a>
                </div>

                <div class="gallery-item">
                    <a class="fancybox" rel="group" href="~/Content/Book_2/images/page_2.jpg"><img src="~/Content/Book_2/images/page_2s.jpg" /></a>
                </div>

                <div class="gallery-item">
                    <a class="fancybox" rel="group" href="~/Content/Book_2/images/page_3.jpg"><img src="~/Content/Book_2/images/page_3s.jpg" /></a>
                </div>

                <div class="gallery-item">
                    <a class="fancybox" rel="group" href="~/Content/Book_2/images/page_4.jpg"><img src="~/Content/Book_2/images/page_4s.jpg" /></a>
                </div>
            </div>
        </section>

        <section class="section section-description" id="About-author">
            <h2 class="section-title">Об Авторе</h2>
            <div class="description clearfix">
                <div class="cover">
                    <img src="~/Content/Book/images/toropov.jpg" alt="Sergei A. Toropov" width="380" height="527">
                </div>
                <span><b>ТОРОПОВ Сергей Акиндинович</b></span>
                <p>Родился 16.11.1952. Окончил биологический факультет Киргизского государственного университета по специальности «биология» (1976). С 1968 по 1999 год занимался отловом и содержанием в условиях вольеров более 90 видов птиц отряда воробьиных. В 1976–84 гг. работал директором Зоологического музея Киргизского госуниверситета и занимался паспортизацией заказников республики, в 1984–89 гг. – начальником ихтиологической службы и затем руководителем Бассейнового управления по охране рыбных запасов Киргизии и Таджикистана. В 1989–2001 гг. руководил группой по обеспечению трофейных охот для иностранных туристов при Киргизохотрыболовсоюзе. Являлся участником и организатором более чем 80 экспедиций, в том числе международных, по Средней Азии и Казахстану. Член Киргизского энтомологического общества, принимал участие в составлении «Кадастра генетического фонда Кыргызстана» (тт. III и IV) и второго издания «Красной книги Кыргызской Республики». Автор серии иллюстрированных книг о бабочках и жуках Средней Азии и Казахстана. </p>
            </div>
        </section>
        
        @Html.Partial("_ContactUs-Ru");
    </div>
<footer class="footer">
    <p>www.satbirds.com @DateTime.Today.Year</p>
</footer>
@section scripts {
        
}
</body>