﻿@{
    Response.Redirect("~/tours/en/7");
}
@*@section head {
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Vendor/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/Tours/css/main.css">

}
<body>
    <header class="header" id="top">
        @Html.Partial("_Navbar")
    </header>
    <div class="container-fluid">
        <div class="row">

            <div class="container shadow" style="padding-bottom: 50px;">
                <div class="video-block">
                    <iframe class="resp-iframe" src="/Content/Video/film.mp4"></iframe>
                </div>
            </div>
        </div>
    </div>
</body>*@
