﻿
@section head {
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Vendor/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/Tours/css/main.css">
}
<body>
    <header class="header">
        @Html.Partial("_Navbar-Ru")
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 promo-wrap">
                <div class="promo">
                    <!--<img src="uploads/promo_back.jpg" alt="Mountains" class="img-responsive">-->
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item  active">
                                <img src="~/Content/Tours/uploads/slide_01.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="~/Content/Tours/uploads/slide_02.jpg" alt="">
                            </div>
                            <!--
                            <div class="item">
                                <img src="~/Content/Tours/uploads/slide_03.jpg" alt="">
                            </div>
                            -->
                            <div class="item">
                                <img src="~/Content/Tours/uploads/slide_04.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <h1 class="title" title="KYRGYZSTAN Bird Watching Tour">KYRGYZSTAN Bird Watching Tour</h1>
                <div class="row">
                    <div class="container">
                        <div class="video-block shadow">
                            <iframe class="resp-iframe" src="/Content/Video/film.mp4"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container shadow">
                <div class="row">
                    <section id="top" class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title" style="margin-top: 35px;">Продолжительность сезона Июнь-Июль</h2>
                        <p class="section-description">
                            Расположенная на древней сети Великих Шелковых дорог, КЫРГЫЗСТАН может похвастаться огромным разнообразием ландшафтов и мест обитания, которые простираются от пустыни на берегу озера Иссык-Куль до высокогорных районов в горах Тянь-Шаня. Наша команда имеет глубокие знания о стране и ее птицах, в которую входят такие виды, как Гималайский улар, серпоклюв, бородач и расписная синичка в горах, а также монгольский вьюрок, саджа, солончаковый жаворонок и серый жаворонок в пустынях.
                        </p>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">День 1.</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/1_Dark-grey Tit.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/1_Dark-grey Tit_359.jpg" width="360" height="240" title="Dark-grey Tit" alt="Dark-grey Tit"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/Yellow-breasted Tit_small.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/Yellow-breasted Tit_large.jpg" width="360" height="240" title="Yellow-breasted Tit" alt="Yellow-breasted Tit"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/1_Tit-warbler.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/1_Tit-warbler_351.jpg" width="360" height="240" title="Tit-warbler" alt="Tit-warbler"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="section-description col-xs-12 col-md-12 col-lg-12">
                                <p>
                                    Встреча в аэропорту города Бишкек, размещение в гостинице Альпинистского лагеря в Национальном парке Ала-Арча, который расположен в зоне леса реликтовой тяньшанской ели на высоте 2000 метров над уровнем моря. Рядом  с отелем течёт бурная горная река с кристально-чистой ледяной водой. После перелёта вы сможете отдохнуть и подышать замечательным горным воздухом. Отдых продлится до 12.00, обед в 13.00
                                </p>
                                <p>15.00 выход в еловый лес и ущелье Ак-Сай урочища Ала-Арча, где вы будете наблюдать птиц в еловом лесу, в зоне кустарников стелющегося можжевельника и по берегу горной реки.</p>
                                <p>Виды птиц: </p>
                                <div class="section-description col-xs-12 col-md-6 col-lg-6">

                                    <ul>
                                        <li>Альпийская галка (Pyrrhocorax graculus forsythi)</li>
                                        <li>Желтогрудая лазоревка (Cyanistes flavipectus)</li>
                                        <li>Рыжешейная синица (Periparus rufonuchalis)</li>
                                        <li>Расписная синичка (Leptopoecile sophiae)</li>
                                        <li>Бледная зарничка (Phylloscopus humei)</li>
                                        <li>Зелёная пеночка (Phylloscopus trochiloides)</li>
                                        <li>Бурая оляпка (Cinclus pallasii)</li>

                                    </ul>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <ul>
                                        <li>Черногрудая красношейка (Calliope pectoralis)</li>
                                        <li>Синяя птица (Myophonus caeruleus turcestanicus)</li>
                                        <li>Майна (Acridotheres tristis))</li>
                                        <li>Черногорлая завирушка (Prunella atrogularis huttoni)</li>
                                        <li>Седоголовая горихвостка (Phoenicurus caeruleocephalus)</li>
                                        <li>Арчовый дубонос (Mycerobas carnipes)</li>
                                        <li>Красношапочный вьюрок (Serinus pusillus)</li>
                                    </ul>
                                </div>
                                <p>20.00 Ужин в гостинице</p>
                            </div>
                        </div>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">День 2.</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/2_Long-tailed Shrike.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/2_Long-tailed Shrike_360.jpg" width="360" height="240" title="Long-tailed Shrike" alt="Long-tailed Shrike"></a>
                                <a class="fancybox middle_block" rel="group" href="~/Content/Tours/uploads/2_Besh_kungey.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/2_Besh_kungey_360.jpg" width="360" height="240" title="Besh-Kungej" alt="Besh-Kungej"></a>
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/Red-headed Bunting_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/Red-headed Bunting_small.jpg" width="360" height="240" title="Red-headed Bunting" alt="Red-headed Bunting"></a>
                            </div>
                            <div class="section-description col-xs-12 col-md-8 col-lg-8">
                                <p>
                                    7.00 завтрак в гостинице.
                                    8.00 до 10.00 прогулка в районе гостиницы и наблюдение за птицами этих же видов в утренние часы.
                                    10.30 выезд в предгорья Киргизского хребта (Беш-Кунгей или Кой-Таш-Норус), где вы сможете увидеть птиц в предгорной степной зоне. На заднем плане будут видны покрытые вечными снегами вершины Киргизского хребта.
                                    11.00 до 12.30 проезд по предгорьям и наблюдение за птицами
                                </p>
                                <p>Виды птиц:</p>
                                <ul>
                                    <li>Золотистая щурка (Merops apiaster)</li>
                                    <li>Сизоворонка (Coracias garrulus semenowi)</li>
                                    <li>Чернолобый сорокопут (Lanius minor)</li>
                                    <li>Степной жаворонок (Melanocoripha calandra)</li>
                                    <li>Белая лазоревка (Cyanistes cyanus tianschanicus)</li>
                                    <li>Венценосный ремез (Remiz coronatus)</li>
                                    <li>Индийский воробей (Passer indicus bactrianus)</li>
                                    <li>Желчная овсянка (Granativora bruniceps)</li>
                                </ul>
                                <p>
                                    12.30 - 13.00 обед в горах
                                    13.00 выезд на озёра, расположенные в Чуйской долине, рядом с рекой Чу, где вы увидите околоводных и водных птиц гнездящихся в тростниковых зарослях и рядом с ними.
                                    14.00 - 15.30 наблюдение за птицами
                                </p>
                                <p>Виды птиц: </p>
                                <ul>
                                    <li>Волчок (Ixobrychus minutes)</li>
                                    <li>Камышница (Galinula chloropus)</li>
                                    <li>Зимородок (Alcedo atthis)</li>
                                    <li>Длиннохвостый сорокопут/ Шах (Lanius schach)</li>
                                    <li>Дроздовидная камышевка (Acrocephalus arundinaceus)</li>
                                    <li>Тростниковая камышёвка (Acrocephalus stentoreus)</li>
                                </ul>
                                <p>
                                    16.00 - 19.00 поездка в сторону озера Иссык-Куль по дороге вдоль реки Чу, будет сделано несколько коротких остановок, во время которых вы увидите колонии розовых скворцов в каменных насыпях по берегу реки и гнездо чёрного аиста в глиняных каньонах Боомского ущелья
                                    20.00 ужин в гостинице в селе Тамчи на северном берегу озера, откуда открывается изумительный вид на высокогорное озеро Иссык-Куль, обрамлённое седыми вершинами хребтов Терскей и Кунгей Ала-Тоо. Цвет озера постоянно меняется от молочного розового до глубокого-синего и тёмно-фиолетового в зависимости от погодных условий.
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">День 3.</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/Mongolian Trupeter Finch.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/Mongolian Trupeter Finch_342.jpg" width="360" height="240" title="Mongolian Trupeter Finch" alt="Mongolian Trupeter Finch"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/Kirghizia, Issyk-Kul lake west.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/Kirghizia, Issyk-Kul lake west.jpg" width="360" height="240" title="Issyk Kul Lake" alt="Issyk Kul Lake"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/3_Pallas's Sandgrouse.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/3_Pallas's Sandgrouse_336.jpg" width="360" height="240" title="Pallas's Sandgrouse" alt="Pallas's Sandgrouse"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="section-description col-xs-12 col-md-8 col-lg-8">
                                <p>
                                    7.00 завтрак в гостинице.
                                    8.00 выезд на южный берег озера Иссык-Куль в каменистую пустыню в предгорьях хребта Терскей-Ала-Тоо. Там же вы проедете по красивейшему ущелью с красными конгломератовыми каньонами в горах Тегерек и затем на мыс Ак-Ойлён с песчаными дюнами и тростниковыми зарослями.
                                </p>
                                <p>Виды птиц:</p>
                                <ul>
                                    <li>Каменная куропатка (Alectoris chukar falki)</li>
                                    <li>Большеклювый зуёк (Charadrius leschenaulti crassirostris)</li>
                                    <li>Обыкновенная саджа (Syrrhaptes paradoxus)</li>
                                    <li>Солончаковый жаворонок (Calandrella cheelensis seebohmi)</li>
                                    <li>Серый жаворонок (Calandrella rufescens)</li>
                                    <li>Усатая синица (Panurus biarmicus)</li>
                                    <li>Скальная ласточка (Ptyonoprogne rupestris)</li>
                                    <li>Индийская камышевка (Acrocephalus agricola)</li>
                                    <li>Горная славка (Sylvia althaea)</li>
                                    <li>Ястребиная славка (Sylvia nisoria mertzbacheri)</li>
                                    <li>Каменка плясунья (Oenanthe isabellina)</li>
                                    <li>Полевой конёк (Anthus campestris)</li>
                                    <li>Монгольский снегирь (Bucanetes mongolicus)</li>
                                    <li>Скальная овсянка (Emberiza buchanani)</li>
                                </ul>
                                <p>
                                    14.00 обед на природе
                                    15.00 – 19.00 поездка по южному берегу озера Иссык-Куль в сторону города Каракол.
                                    Во время этой поездки вы остановитесь в ущелье Каджи-Сай в красивейших красных каньонах, напоминающих древние храмы из которых открывается вид на лазурно-синее озеро Иссык-Куль.
                                </p>
                                <p>Там вы встретите следующих птиц:</p>
                                <ul>
                                    <li>Клушица (Pyrrhocorax pyrrhocorax brachypus)</li>
                                    <li>Кашгарский жулан (Lanius phoenicuroides phoenicuroides)</li>
                                    <li>Горихвостка чернушка (Phoenicurus ochrurus phoenicuroides)</li>
                                </ul>
                                <p>19.00 размещение в гостинице города Каракол, ужин.</p>
                            </div>
                            <section class="col-xs-12 col-md-12 col-lg-12">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/Bearded Reedling_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/Bearded Reedling_vertical.jpg" width="360" height="240" title="Bearded Reedling" alt="Bearded Reedling"></a>
                            </section>
                        </div>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">День 4.</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/4_Lammergeier.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/4_Lammergeier_360.jpg" width="360" height="240" title="Lammergeier" alt="Lammergeier"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/4_chon_ashu.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/4_chon_ashu_320.jpg" width="360" height="240" title="Chon-Ashuu" alt="Chon-Ashuu"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/4_Ibisbill.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/4_Ibisbill_357.jpg" width="360" height="240" title="Ibisbill" alt="Ibisbill"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="section-description col-xs-12 col-md-12 col-lg-12">
                                <p>
                                    7.00 завтрак в гостинице
                                    8.00 выезд на перевал Чон-Ашуу (3800 метров), дорога идёт по красивейшему ущелью, крутые склоны которого покрыты реликтовым еловым лесом с громадными деревьями. Внизу ущелья величаво течёт мощная горная река Турген Ак-Суу с изумрудно-синей водой. В этом ущелье вы проведёте целый день и побываете во всех зонах гор от степных предгорий до мощного перевала, окружённого величественными снежными пиками, вздымающимися на высоту 5 тысяч метров над уровнем моря. Затем Вы спуститесь с перевала Чон-Ашуу до реки Сары-Джаз с мощными скальными массивами и до реки Куйлю с еловыми лесами.
                                </p>
                                <p>В этот день вы увидите следующих птиц:</p>
                                <div class="section-description col-xs-12 col-md-6 col-lg-6">
                                    <ul>
                                        <li>Гималайский улар (Tetraogallus himalayensis sewerzowi)</li>
                                        <li>Кумай (Gyps himalayensis)</li>
                                        <li>Бородач (Gypaetus barbatus hemachalanus)</li>
                                        <li>Серпоклюв (Ibidorhyncha struthersii)</li>
                                        <li>Скальный голубь (Columba rupestris turkestanica)</li>
                                    </ul>
                                </div>
                                <div class="section-description col-xs-12 col-md-6 col-lg-6">
                                    <ul>
                                        <li>Альпийская галка (Pyrrhocorax graculus forsythi)</li>
                                        <li>Клушица (Pyrrhocorax pyrrhocorax brachypus)</li>
                                        <li>Альпийская завирушка (Prunella collaris rufilata)</li>
                                        <li>Гималайская завирушка (Prunella himalayana)</li>
                                        <li>Бледная завирушка (Prunella fulvescens)</li>
                                    </ul>
                                </div>

                                <p>
                                    14.00 обед в горах
                                    16.00 обратная дорога в город Каракол
                                    19.00 ужин в гостинице города Каракол
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">День 5.</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="/Content/Tours/uploads/5_Blue Whistling Thrush.jpg"><img class="img-responsive gallery-photo" src="/Content/Tours/uploads/5_Blue Whistling Thrush_360.jpg" width="360" height="240" title="Blue Whistling Thrush" alt="Blue Whistling Thrush"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="/Content/Tours/uploads/5_Blue-capped Redstart.jpg"><img class="img-responsive gallery-photo" src="/Content/Tours/uploads/5_Blue-capped Redstart_360.jpg" width="360" height="240" title="Blue-capped Redstart" alt="Blue-capped Redstart"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="/Content/Tours/uploads/5_Gray-necked Bunting.jpg"><img class="img-responsive gallery-photo" src="/Content/Tours/uploads/5_Gray-necked Bunting_360.jpg" width="360" height="240" title="Gray-necked Bunting" alt="Gray-necked Bunting"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="section-description col-xs-12 col-md-12 col-lg-12">
                                <p>
                                    7.00 завтрак в гостинице
                                    8.00 выезд в сторону села Кочкор по южному берегу озера Иссы-Куль с заездом в ущелье Джеты-Огуз, со знаменитой скалой “Разбитое сердце”, затем в ущелье Чон-Кызыл-Суу, где вы попадёте в одно из красивейших мест в хребте Терскей Ала-Тоо. Ущелье покрыто мощными еловыми лесами и окружено скальными склонами, по дну течёт бурная горная река, белая от пены.
                                </p>
                                <p>В этих ущельях вы сможете увидеть  следующие виды птиц:</p>
                                <ul>
                                    <li>Курганник (Buteo rufinus rufinus)</li>
                                    <li>Орёл-карлик (Hieraaetus pennatus)</li>
                                    <li>Джунгарская гаичка (Poecile songarus)</li>
                                    <li>Бурая оляпка (Cinclus pallasii)</li>
                                    <li>Синяя птица (Myophonus caeruleus turcestanicus)</li>
                                    <li>Красноспинная горихвостка (Phoenicurus erythronotus)</li>
                                    <li>Седоголовая горихвостка (Phoenicurus caeruleocephalus)</li>
                                    <li>Корольковый вьюрок (Serinus pusillus)</li>
                                    <li>Горная трясогузка (Motacilla cinerea melanope)</li>
                                </ul>
                                <p>
                                    14.00 обед в горах
                                    Во второй половине дня вы сделаете остановку в необычном скальном массиве в восточной части Киргизского хребта на северо-восточном берегу Орто-Токойского водохранилища. Это место напоминает лунный пейзаж, в котором скалы окрашены в разные цвета – жёлтый, розовый, красный и темно-коричневый, там же есть песчаные барханы.
                                </p>
                                <p>Виды птиц: </p>
                                <ul>
                                    <li>Кеклик (Alectoris chukar falki)</li>
                                    <li>Горная славка (Sylvia althaea)</li>
                                    <li>Пёстрый каменный дрозд (Monticola saxatilis turkestanicus)</li>
                                    <li>Каменка плешанка (Oenanthe pleschanka)</li>
                                    <li>Монгольский снегирь (Bucanetes mongolicus)</li>
                                    <li>Горная овсянка (Emberiza buchanani)</li>
                                </ul>
                                <p>Перед заездом на ночлег на глиняных карьерах перед селом Кочкор вы увидите колонию     Бледных береговушек (Riparia diluta) 19.00 ужин в гостинице села Кочкор</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/chon_kizil_suu_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/chon_kizil_suu_small.jpg" width="360" height="240" title="Chon Kizil Suu" alt="Chon Kizil Suu"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/Red-billed Chough_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/Red-billed Chough_small.jpg" width="360" height="240" title="Red-billed Chough" alt="Red-billed Chough"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/gallery_4.1.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/gallery_4.jpg" width="360" height="240" title="Issyk-Kul" alt="Issyk-Kul"></a>
                            </div>
                        </div>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">День 6.</h2>
                        <div class="row">
                            <div class="section-description col-xs-12 col-md-8 col-lg-8">
                                <p>
                                    7.00 завтрак в гостинице
                                    8.00 выезд в сторону озера Сон-Куль через перевал Калмак-Ашуу (3460 м). Вы будете подниматься по дороге рядом с рекой Кара-Куджур, мощного правого притока реки Чу. Сделаете остановку перед селом Сары-Бель, где увидете колонию грифов Кумаев. Затем повернёте в ущелье Тюлёк и остановитесь у перевала  Калмак-Ашуу. Затем проедете через перевал. С него откроется удивительная картина  на высокогорное озеро Сон-Куль, расположенное между хребтами Байдулу и Молдо-Тоо. Озеро лежит на высоте 3030 метров над уровнем моря и сверкает как сапфир в окружении снежных вершин. Вы спускаетесь с перевала на берег озера и проезжаете по нему до реки Джаман-Эчки. На всём протяжении маршрута от села Кочкор до озера вы увидите замечательных птиц.
                                </p>
                                <p>Виды птиц: </p>
                                <ul>
                                    <li>Кумай (Gyps himalayensis)</li>
                                    <li>Бородач (Gypaetus barbatus hemachalanus)</li>
                                    <li>Красношейная поганка (Podiceps auritus)</li>
                                    <li>Монгольский зуёк (Charadrius mongolus pamirensis)</li>
                                    <li>Рогатый жаворонок (Eremophila alpestris albigula)</li>
                                    <li>Краснобрюхая горихвостка (Phoenicurus erythrogaster)</li>
                                    <li>Горный конёк (Anthus spinoletta) </li>
                                    <li>Снежный воробей (Montifringilla nivalis alpicola)</li>
                                    <li>Горная чечётка (Acanthis flavirostris montanella)</li>
                                    <li>Гималайский вьюрок (Leucosticte nemoricola altaica)</li>
                                    <li>Жемчужный вьюрок (Leucosticte brandti brandti)</li>
                                </ul>
                                <p>
                                    14.00 обед на берегу озера
                                    19.00 ужин в юртах на озере Сон-Куль. Вы в полной мере окунётесь в Киргизские национальные традиции и сможете наблюдать как кочевники пасут овец, лошадей, яков и коров в условиях высокогорья. Так же попробуете вкуснейшие киргизские национальные блюда и напитки.
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/6_Greater Sand Plover.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/6_Greater Sand Plover_334.jpg" width="360" height="240" title="Greater Sand Plover" alt="Greater Sand Plover"></a>
                                <a class="fancybox middle_block" rel="group" href="~/Content/Tours/uploads/7_BLV.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/7_BLV_360.jpg" width="360" height="240" title="Kalmak-Ashuu" alt="Kalmak-Ashuu"></a>
                            </div>
                        </div>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">День 7.</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/gallery_1.1.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/gallery_1.jpg" width="360" height="240" title="Kalmak-Ashuu"></a>
                                <a class="fancybox middle_block" rel="group" href="~/Content/Tours/uploads/yurt_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/yurt_large.jpg" width="360" height="240" title="yurt" alt="yurt"></a>
                            </div>                            
                            
                            <div class="section-description col-xs-12 col-md-8 col-lg-8">
                                <p>
                                    7.00 завтрак в юртах
                                    8.00 поездка в обратный путь по берегу озера Сон-Куль к перевалу Молдо-Ашуу       (3230 м). С перевала вам откроется грандиозная картина долины реки Нарын, которая даёт начало крупнейшей реки Средней Азии Сыр-Дарья. Затем вы спуститесь с перевала и будете ехать вдоль поймы реки Нарын и необычных глиняных каньонов розового и палевого цвета до города Нарын.
                                </p>
                                <p>По дороге вы увидите птиц:</p>
                                <ul>
                                    <li>Гималайский улар (Tetraogallus himalayensis sewerzowi)</li>
                                    <li>Стервятник (Neophron percnopterus percnopterus)</li>
                                    <li>Орёл-карлик (Hieraaetus pennatus)</li>
                                    <li>Синяя птица (Myophonus caeruleus turcestanicus)</li>
                                    <li>Чёрный коршун (Milvus migrans lineatus)</li>
                                    <li>Удод (Upupa epops epops) </li>
                                    <li>Хохлатый жаворонок (Galerida cristata iwanovi)</li>
                                </ul>
                                <p>14.00 обед на берегу реки Нарын 19.00 ужин в гостинице города Нарын.</p>
                            </div>
                        </div>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <a class="fancybox" rel="group" href="~/Content/Tours/uploads/5_01_day_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/5_01_day_large.jpg" width="360" height="240" title="Egyptian Vulture" alt="Egyptian Vulture"></a>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">День 8.</h2>
                        <div class="row">
                            <div class="section-description col-xs-12 col-md-8 col-lg-8">
                                <p>
                                    7.00 завтрак в гостинице города Нарын
                                    8.00 поездка в  сторону села Кочкор с заездом в хребет Байдулу через долину реки Тешик, где вы сможете увидеть гнездящегося там легендарного серпоклюва.  Затем через перевал Джон-Булак (3018 м) вы попадёте в долину реки Кок-Джерты, где увидите захватывающий дух каньон и насладитесь неповторимой красотой хребта Корго, увенчанного скалами с мощными ельниками. После обеда вы вернётесь в ущелье реки Кара-Ункур, перевалите через перевал Долон (3000 м) и спустившись по ущелью реки Кара-Куджур попадёте в село Кочкор.
                                    14.00 обед в горах
                                </p>
                                <p>Виды птиц: </p>
                                <ul>
                                    <li>Бородач (Gypaetus barbatus hemachalanus)</li>
                                    <li>Чёрный гриф (Aegypius monachus) </li>
                                    <li>Кумай (Gyps himalayensis)</li>
                                    <li>Серпоклюв (Ibidorhyncha struthersii)</li>
                                    <li>Скальный голубь (Columba rupestris turkestanica)</li>
                                    <li>Клушица (Pyrrhocorax graculus forsythi)</li>
                                    <li>Альпийская галка (Pyrrhocorax pyrrhocorax brachypus)</li>
                                    <li>Скальная ласточка (Ptyonoprogne rupestris)</li>
                                    <li>Стенолаз (Tichodroma muraria nepalensis)</li>
                                    <li>Каменка плясунья (Oenanthe isabellina)</li>
                                    <li>Синяя птица (Myophonus caeruleus turcestanicus)</li>
                                    <li>Красноспинная горихвостка (Phoenicurus erythronotus)</li>
                                    <li>Седоголовая горихвостка (Phoenicurus caeruleocephalus)</li>
                                    <li>Горихвостка чернушка (Phoenicurus ochrurus phoenicuroides)</li>
                                    <li>Черногорлая завирушка (Prunella atrogularis huttoni)  </li>
                                </ul>
                                <p>19.00 ужин в гостинице села Кочкор.</p>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/5_Blue Whistling Thrush.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/5_Blue Whistling Thrush_360.jpg" width="360" height="240" title="Blue Whistling Thrush" alt="Blue Whistling Thrush"></a>
                                <a class="fancybox middle_block" rel="group" href="~/Content/Tours/uploads/5_Blue-capped Redstart.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/5_Blue-capped Redstart_360.jpg" width="360" height="240" title="Blue-capped Redstart" alt="Blue-capped Redstart"></a>
                            </div>
                        </div>
                        <section class="col-xs-12 col-md-12 col-lg-12">
                            <a class="fancybox" rel="group" href="~/Content/Tours/uploads/Cinereous Vulture_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/Cinereous Vulture_large.jpg" width="360" height="240" title="Cinereous Vulture" alt="Cinereous Vulture"></a>
                        </section>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">День 9.</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/5_02_day_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/5_02_day_small.jpg" width="360" height="240" title="Eurasian Hoopoe" alt="Eurasian Hoopoe"></a>
                                <a class="fancybox middle_block" rel="group" href="~/Content/Tours/uploads/5_day_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/5_day_small.jpg" width="360" height="240" title="Crested Lark" alt="Crested Lark"></a>
                            </div>
                            <div class="section-description col-xs-12 col-md-8 col-lg-8">
                                <p>
                                    7.00 завтрак в гостинице села Кочкор.
                                    8.00 выезд в сторону города Бишкек. По дороге вы проедете через перевал Кувакы (2170 м) и спуститесь в долину реки Чу. Затем вы будете ехать по красивейшему Боомскому ущелью в сторону города Токмок. Рядом с ним вы посетите памятник X–XI веков башню “Бурана” – одно из древнейших сооружений такого рода на территории Средней Азии. Рядом находятся другие древние надгробные памятники, древние жернова и камни с наскальными рисунками. После обеда проедите по предгорьям Киргизского хребта и остановитесь в отеле города Бишкек на ночлег.
                                </p>
                                <p>По дороге вы увидите следующие виды птиц:</p>
                                <ul>
                                    <li>Полевой жаворонок  (Alauda arvensis almasyi)</li>
                                    <li>Рогатый жаворонок (Eremophila alpestris albigula)</li>
                                    <li>Желчная овсянка (Granativora bruniceps)</li>
                                    <li>Кольчатая горлица (Streptopelia decaoctо decaoctо)</li>
                                    <li>Малая горлица (Streptopelia senegalensis ermanni)</li>
                                </ul>
                                <p>19.00 ужин в гостинице города Бишкек.</p>
                                <p>За всё время пребывания и на всех маршрутах, если повезёт, вы сможете увидеть различных диких животных, таких как Сибирский горный козёл, Волк, Серый сурок, Заяц талай, Лисица и других.</p>
                            </div>
                        </div>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">День 10.</h2>
                        <div class="row">
                            <div class="section-description col-xs-12 col-md-12 col-lg-12">
                                <p>
                                    9.00 завтрак в гостинице города Бишкек
                                    С 10.00 до 18.00 экскурсия по городу с посещением исторического музея, торговых  комплексов с товарами народных промыслов и сувениров. Обед в этнографическом ресторане “Супара”.
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">День 11.</h2>
                        <div class="row">
                            <div class="section-description col-xs-12 col-md-12 col-lg-12">
                                <p>
                                    Завтрак в гостинице города Бишкек. Выезд в аэропорт города Бишкек.
                                </p>
                            </div>
                        </div>
                    </section>
                    <section id="price" class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">Цена</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-lg-12">
                                <table>
                                    <tr>
                                        <th>Количество человек</th>
                                        <th>Количество дней</th>
                                        <th>Цена/ Человек / День (€)</th>
                                        <th>Депосит (€)</th>
                                    </tr>
                                    <tr>
                                        <td>5 (минимум)</td>
                                        <td>10</td>
                                        <td>195</td>
                                        <td>400</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-6 section-description">
                                <p>
                                    <b>В целом мы будем предоставлять следующие услуги, включенные в стоимость:</b>
                                </p>
                                <ul>
                                    <li>Встреча в аэропорту Бишкека</li>
                                    <li>Проживание в отеле с первого по последний день в одноместном или двухместном номере</li>
                                    <li>Транспорт вместе с водителем для клиентов и оборудования</li>
                                    <li>Питание - 3-х разовое питание (завтрак, обед, ужин) (включая суп, мясо, рис, овощи, хлеб, колбасу, сыр, огурец, салат, молоко, кашу, сахар, хлеб, масло, мармелад)</li>
                                    <li>Профессиональный орнитологический консультант</li>
                                    <li>Услуги переводчика</li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-6 section-description">
                                <p>
                                    <b>Есть услуги, не включенные в стоимость:</b>
                                </p>
                                <ul>
                                    <li>Алкогольные напитки</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    @Html.Partial("_ContactUs-Ru");
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 footer">
                <div class="container ">
                    <div class="row">
                        <p>www.satbirds.com @DateTime.Today.Year</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts {

    }
</body>