﻿
@section head {
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Vendor/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/Tours/css/main.css">
}

<body>
    <header class="header">

        @Html.Partial("_Navbar")

    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 promo-wrap">
                <div class="promo">
                    <!--<img src="uploads/promo_back.jpg" alt="Mountains" class="img-responsive">-->
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item  active">
                                <img src="~/Content/Tours/uploads/slide_01.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="~/Content/Tours/uploads/slide_02.jpg" alt="">
                            </div>
                            <!--
                            <div class="item">
                                <img src="~/Content/Tours/uploads/slide_03.jpg" alt="">
                            </div>
                            -->
                            <div class="item">
                                <img src="~/Content/Tours/uploads/slide_04.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <h1 class="title" title="KYRGYZSTAN Bird Watching Tour">KYRGYZSTAN Bird Watching Tour</h1>
                <div class="row">
                    <div class="container">
                        <div class="video-block shadow">
                            <iframe class="resp-iframe" src="/Content/Video/film.mp4"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container shadow">
                <div class="row">
                    <section id="top" class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title" style="margin-top: 35px;">Season duration June-July</h2>
                        <p class="section-description">
                            Situated on the ancient network of the Great Silk Roads, KYRGYZSTAN boasts a huge diversity of landscapes and habitats, which range from the desert on the Issyk-Kul Lake shore to high-altitude areas in the Tien Shan Mountains. Our team have deep knowledge of the country and its birds, which include such species as Himalayan Snowcock, Ibisbill, Lammergeier and White-browed Tit-Warbler in the mountains, and Mongolian Finch, Pallas’s Sandgrouse, Asian Short-toed Lark and Lesser Short-toed Lark in the deserts.
                        </p>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">Day 1.</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/1_Dark-grey Tit.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/1_Dark-grey Tit_359.jpg" width="360" height="240" title="Dark-grey Tit" alt="Dark-grey Tit"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/Yellow-breasted Tit_small.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/Yellow-breasted Tit_large.jpg" width="360" height="240" title="Yellow-breasted Tit" alt="Yellow-breasted Tit"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/1_Tit-warbler.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/1_Tit-warbler_351.jpg" width="360" height="240" title="Tit-warbler" alt="Tit-warbler"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="section-description col-xs-12 col-md-12 col-lg-12">
                                <p>
                                    The Meeting at the airport Bishkek town, placing in Mountaineering camp hotel in Ala-Archa National park, which is located in a zone of wood relict tienshan fur-trees at height of 2,000 m a. s. l. Near to hotel the rough mountain river with crystal-clear ice water flows. After flight you can have a rest and breathe remarkable mountain air. Rest will last till 12.00, a lunch at 13.00.
                                </p>
                                <p>15.00 Exit in a fir forest and natural boundary Ak-Sai gorge, where you will observe birds in fur-tree wood, in a zone a juniper bushes and on coast of the mountain river.</p>
                                <p>Which kinds of birds you will see:</p>
                                <div class="section-description col-xs-12 col-md-6 col-lg-6">

                                    <ul>
                                        <li>Dark-grey Tit (Periparus rufonuchalis)</li>
                                        <li>Yellow-billed Chough (Pyrrhocorax graculus forsythi)</li>
                                        <li>Yellow-breasted Tit (Cyanistes flavipectus)</li>
                                        <li>Tit-warbler (Leptopoecile sophiae)</li>
                                        <li>Hyume’s (Phylloscopus humei)</li>
                                        <li>Greenish Warbler (Phylloscopus trochiloides)</li>
                                        <li>Brown Dipper (Cinclus pallasii)</li>

                                    </ul>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <ul>
                                        <li>Himalayan Rudythroat (Calliope pectoralis)</li>
                                        <li>Blue Whistling Thrush (Myophonus caeruleus turcestanicus)</li>
                                        <li>Blue-capped Redstart (Phoenicurus caeruleocephalus)</li>
                                        <li>Common Mayna (Acridotheres tristis)</li>
                                        <li>Black-throated Accentor (Prunella atrogularis huttoni)</li>
                                        <li>White-winged Grosbeak (Mycerobas carnipes)</li>
                                        <li>Red-fronted Serin (Serinus pusillus)</li>
                                    </ul>
                                </div>
                                <p>20.00 Dinner in hotel</p>
                            </div>
                        </div>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">Day 2.</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/2_Long-tailed Shrike.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/2_Long-tailed Shrike_360.jpg" width="360" height="240" title="Long-tailed Shrike" alt="Long-tailed Shrike"></a>
                                <a class="fancybox middle_block" rel="group" href="~/Content/Tours/uploads/2_Besh_kungey.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/2_Besh_kungey_360.jpg" width="360" height="240" title="Besh-Kungej" alt="Besh-Kungej"></a>
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/Red-headed Bunting_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/Red-headed Bunting_small.jpg" width="360" height="240" title="Red-headed Bunting" alt="Red-headed Bunting"></a>
                            </div>
                            <div class="section-description col-xs-12 col-md-8 col-lg-8">
                                <p>
                                    7.00 Breakfast in hotel.
                                    8.00 - 10.00 Walk around hotel and supervision over birds of the same kinds in the morning.
                                    10.30 Departure in foothills of the Alexander Mountain Range (Besh-Kungej or Koi-Tash and Norus) where you will see birds of mountain steppes zone. On a background the majestic tops of the randge covered with eternal snow will be visible.
                                    11.00 - 12.30 Walk and driveway on the foothills and supervision over birds.
                                </p>
                                <p>Which kinds of birds you will see:</p>
                                <ul>
                                    <li>Europian Bee-eater (Merops apiaster)</li>
                                    <li>Europian Roller (Coracias garrulus semenowi)</li>
                                    <li>Lesser Gray Shrike (Lanius minor)</li>
                                    <li>Calandra Lark (Melanocoripha calandra)</li>
                                    <li>Azure Tit (Cyanistes cyanus tianschanicus)</li>
                                    <li>White-growned tit (Remiz coronatus)</li>
                                    <li>Indian Sparrow (Passer indicus bactrianus)</li>
                                    <li>Red-headed Bunting (Granativora bruniceps)</li>
                                </ul>
                                <p>
                                    12.30 - 13.00 Lunch in mountains.
                                    13.00 Departure on the lakes located in the Chu Valley near to the Chu River, where you will see water birds, which nesting in reed thickets.
                                    14.00 - 15.30 Supervision over birds
                                </p>
                                <p>Which kinds of birds you will see:</p>
                                <ul>
                                    <li>Little Bittern (Ixobrychus minutes)</li>
                                    <li>Common Morhen (Galinula chloropus)</li>
                                    <li>Common Kingfisher (Alcedo atthis)</li>
                                    <li>Long-tailed Shrike (Lanius schach)</li>
                                    <li>Great Reed Warbler (Acrocephalus arundinaceus)</li>
                                    <li>Clamorous Reed Warbler (Acrocephalus stentoreus)</li>
                                </ul>
                                <p>
                                    16.00 - 18.30 Trip towards Issyk Kul Lake on road along the Chu River. Short stops during which time you will see colonies of Rose-colored Starling (Sturnus roseus) in stone embankments on river bank, and a nest of a Black Stork (Ciconia nigra) in clayey canyons of Boom Gorge.
                                    20.00 The dinner in hotel in Tamchi village on northern coast of lake, whence opens an amazing kind on the high-mountainous of Issyk Kul Lake framed with grey-haired tops of Mountain randges of Terskei and Kungei Ala-Too. Colour of lake constantly changes from dairy pink to deep - dark blue and dark-violet depending on weather conditions.
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">Day 3.</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/Mongolian Trupeter Finch.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/Mongolian Trupeter Finch_342.jpg" width="360" height="240" title="Mongolian Trupeter Finch" alt="Mongolian Trupeter Finch"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/Kirghizia, Issyk-Kul lake west.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/Kirghizia, Issyk-Kul lake west.jpg" width="360" height="240" title="Issyk Kul Lake" alt="Issyk Kul Lake"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/3_Pallas's Sandgrouse.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/3_Pallas's Sandgrouse_336.jpg" width="360" height="240" title="Pallas's Sandgrouse" alt="Pallas's Sandgrouse"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="section-description col-xs-12 col-md-12 col-lg-12">
                                <p>
                                    7.00 Breakfast in hotel.
                                    8.00 Departure on southern coast of Issyk Kul Lake on stony desert on foothills of Терскей-Ала-Тоо. In the same place you will pass on the most beautiful gorge with red canyons in Tegerek mountains and then on Ak-Oilyon cape with sandy dunes and reed thickets.
                                    resembling ancient temples, from where will be able to see sky-blue or deep sapphire Lake Issyk-Kul and where you can encounter a number of bird species, such as Red-billed Chough, Turkestan Shrike and Black Redstart. In the evening we will arrive at a hotel in Karakol and have dinner.
                                </p>
                                <p>Which kinds of birds you will see:</p>
                                <ul>
                                    <li>Chukar Partridge (Alectoris chukar falki)</li>
                                    <li>Greater Sand Plover (Charadrius leschenaulti crassirostris)</li>
                                    <li>Pallas's Sandgrouse (Syrrhaptes paradoxus)</li>
                                    <li>Bearded Reedling (Panurus biarmicus)</li>
                                    <li>Asian Short-toed Lark (Calandrella cheelensis seebohmi)</li>
                                    <li>Lesser Short-toed Lark (Calandrella rufescens)</li>
                                    <li>Eurasian Crag Martin (Ptyonoprogne rupestris)</li>
                                    <li>Paddyfield Warbler (Acrocephalus agricola)</li>
                                    <li>Hume’s Whitethroat (Sylvia althaea)</li>
                                    <li>Barred Warbler (Sylvia nisoria mertzbacheri)</li>
                                    <li>Isabellen Wheatear (Oenanthe isabellina)</li>
                                    <li>Tawny Pipit (Anthus campestris)</li>
                                    <li>Mongolian Trupeter Finch (Bucanetes mongolicus)</li>
                                    <li>Gray-necked Bunting (Emberiza buchanani)</li>
                                </ul>
                                <p>During this trip you stop in Kadzhi-Sai Gorge in amazing beauty the red canyons reminding ancient temples from which will see skyey-blue or deep-sapphirine Issyk Kul Lake.</p>
                                <p>14.00 Lunch on the nature</p>
                                <p>There you will meet following birds:</p>
                                <ul>
                                    <li>Red-billed Chough (Pyrrhocorax pyrrhocorax brachypus)</li>
                                    <li>Turkestan Shrike (Lanius phoenicuroides phoenicuroides)</li>
                                    <li>Black Redstart (Phoenicurus ochrurus phoenicuroides)</li>
                                </ul>
                                <p>In second half of day you will stop of at an unusual rocky file in the eastern part of the Alexander Mountain Range on northern east coast of the Orto-Tokoi Water Reservoir. This place reminds a lunar landscape in which rocks are painted in different colours - yellow, pink, red and dark brown, in the same place there are sandy barkhans.</p>
                                <p>There you will meet following birds:</p>
                                <ul>
                                    <li>Chukar Partridge (Alectoris chukar falki)</li>
                                    <li>Hume’s Whitethroat (Sylvia althaea)</li>
                                    <li>Rufous-tailed Rock Thrush (Monticola saxatilis turkestanicus)</li>
                                    <li>Pied Wheatear (Oenanthe pleschanka)</li>
                                    <li>Mongolian Trupeter Finch (Bucanetes mongolicus)</li>
                                    <li>Gray-necked Bunting (Emberiza buchanani)</li>
                                </ul>
                                <p>Before arrival on a lodging for the night, on clay open-cast mines, before Kochkor village you will see a colony of Pale Martin (Riparia diluta). 19.00 Dinner in hotel in Kochkor village</p>
                            </div>
                        </div>
                        <section class="col-xs-12 col-md-12 col-lg-12">
                            <a class="fancybox" rel="group" href="~/Content/Tours/uploads/Bearded Reedling_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/Bearded Reedling_vertical.jpg" width="360" height="240" title="Bearded Reedling" alt="Bearded Reedling"></a>
                        </section>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">Day 4.</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/4_01_day_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/4_01_day_small.jpg" width="360" height="240" title="White-winged Redstart" alt="White-winged Redstart"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/4_day_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/4_day_small.jpg" width="360" height="240" title="Horned Lark" alt="Horned Lark"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/6_Greater Sand Plover.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/6_Greater Sand Plover_334.jpg" width="360" height="240" title="Greater Sand Plover" alt="Greater Sand Plover"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="section-description col-xs-12 col-md-12 col-lg-12">
                                <p>
                                    7.00 Breakfast in hotel. 8.00 Departure towards the Son-Kul Lake through Kalmak-Ashuu Pass (3,460 m a. s. l.). You will go on road near to the Kara-Kudzhur River, powerful right inflow of the Chu River. You will stop of before Sary-Bel village, where will see a colony of Himalayan Griffon (Gyps himalayensis). Then will turn in Tyulyok gorge and will eat up to pass, where will make one more stop to look at birds. Then will go through pass, and from it you will see the surprising picture on the high-mountainous Son-Kul Lake, located between Baidulu and Moldo-Too Mountain ranges will open. The lake lies at height of 3,030 m a. s. l. and sparkles as sapphire in an environment of snow tops. You go down from pass on northern coast of lake and go to the Dzhaman-Echki river.
                                </p>
                                <p>On all extent of a route from Kochkor village to lake you will see remarkable birds.</p>
                                <div class="section-description col-xs-12 col-md-6 col-lg-6">
                                    <ul>
                                        <li>Himalayan Griffon (Gyps himalayensis)</li>
                                        <li>Lammergeier (Gypaetus barbatus hemachalanus)</li>
                                        <li>Horned Grebe (Podiceps auritus)</li>
                                        <li>Lesser Sand Plover (Charadrius mongolus pamirensis)</li>
                                        <li>Horned Lark (Eremophila alpestris albigula)</li>
                                    </ul>
                                </div>
                                <div class="section-description col-xs-12 col-md-6 col-lg-6">
                                    <ul>
                                        <li>White-winged Redstart (Phoenicurus erythrogaster)</li>
                                        <li>White-winged-snowfinch (Montifringilla nivalis alpicola)</li>
                                        <li>Water Pipit (Anthus spinoletta)</li>
                                        <li>Plain Mountain Finch (Leucosticte nemoricola altaica)</li>
                                        <li>Black-headed Mountain Finch (Leucosticte brandti brandti)</li>
                                        <li>Twite (Acanthis flavirostris montanella)</li>
                                    </ul>
                                </div>

                                <p>14.00 Lunch in mountains. 19.00 Dinner in nomad tents on the coast of Son-Kul Lake. You to the full will feel on yourselves Kirgiz national traditions and can see as a life of nomads - as they graze sheep, horses, grunting ox and cows in the conditions of high mountains. Also you can try very tasty national dishes and drinks.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-6">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/4_02_day_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/4_02_day_large.jpg" width="360" height="240" title="" alt=""></a>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-6">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/yurt_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/yurt_large.jpg" width="360" height="240" title="yurt" alt="yurt"></a>
                            </div>
                        </div>
                    </section>

                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">Day 5.</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/7_BLV.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/7_BLV_360.jpg" width="360" height="240" title="Kalmak-Ashuu"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/4_Lammergeier.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/4_Lammergeier_360.jpg" width="360" height="240" title="Lammergeier" alt="Lammergeier"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/gallery_5.1.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/gallery_5.jpg" width="360" height="240"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="section-description col-xs-12 col-md-12 col-lg-12">
                                <p>
                                    7.00 Breakfast in nomad tent.
                                    8.00 Trip to a way back on coast of the Son-Kul Lake to Moldo-Ashuu Pass (3,230 m a. s. From Pass to you the grandiose picture of the Naryn River valley, which gives rise the largest river of Central Asia Syr-Darya will open. Then you go down from Pass and will go the Naryn River foodplain and unusual clayey canyons of pink and pale-yellow colour to the Naryn town.
                                </p>
                                <p>On road you will see some birds:</p>
                                <ul>
                                    <li>Himalayan Snowcock (Tetraogallus himalayensis sewerzowi)</li>
                                    <li>Egyptian Vulture (Neophron percnopterus percnopterus)</li>
                                    <li>Booted Eagle (Hieraaetus pennatus)</li>
                                    <li>Blue Whistling Thrush (Myophonus caeruleus turcestanicus)</li>
                                    <li>Black Kite (Milvus migrans lineatus)</li>
                                    <li>Eurasian Hoopoe (Upupa epops epops)</li>
                                    <li>Crested Lark (Galerida cristata iwanovi)</li>
                                </ul>
                                <p>14.00 Lunch on Naryn River bank 19.00 Dinner in hotel of Naryn town</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/5_day_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/5_day_small.jpg" width="360" height="240" title="Crested Lark" alt="Crested Lark"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/5_01_day_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/5_01_day_small.jpg" width="360" height="240" title="Egyptian Vulture" alt="Egyptian Vulture"></a>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/5_02_day_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/5_02_day_small.jpg" width="360" height="240" title="Eurasian Hoopoe" alt="Eurasian Hoopoe"></a>
                            </div>
                        </div>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">Day 6.</h2>
                        <div class="row">
                            <div class="section-description col-xs-12 col-md-8 col-lg-8">
                                <p>
                                    7.00 breakfast in hotel of Naryn town 8.00 Trip towards to Kochkor village with arrival in a Baydulu Mountain Range, through a Teshik River valley, where you can see nesting there legendary Ibisbill (Ibidorhyncha struthersii). Then through pass John-Bulak (3,018 m a. s. l.) you will get to Kok-Dzherty River valley, where will see fascinating spirit a canyon and take pleasure in unique beauty of a Korgo Mountain Range, topped with rocks and powerful fir groves. After a lunch, you will return to the Kara-Unkur River gorge, through to Dolon Pass (3,000 m a. s. l.) and having gone down of the Kara-Kudzhur River gorge and will get to Kochkor village. 14.00 Lunch in mountains
                                </p>
                                <p>You will see some kinds of birds:</p>
                                <ul>
                                    <li>Lammergeier (Gypaetus barbatus hemachalanus)</li>
                                    <li>Cinereous Vulture (Aegypius monachus)</li>
                                    <li>Ibisbill (Ibidorhyncha struthersii)</li>
                                    <li>Hill Pigeon (Columba rupestris turkestanica)</li>
                                    <li>Alpine / Yellow-billed Chough (Pyrrhocorax graculus forsythi)</li>
                                    <li>Red-billed Chough (Pyrrhocorax pyrrhocorax brachypus)</li>
                                    <li>Eurasian Crag Martin (Ptyonoprogne rupestris)</li>
                                    <li>Wallcreeper (Tichodroma muraria nepalensis)</li>
                                    <li>Isabellen Wheatear (Oenanthe isabellina)</li>
                                    <li>Сitrine wagtail (Motacilla citreola calcarata)</li>
                                    <li>Blue Whistling Thrush (Myophonus caeruleus turcestanicus)</li>
                                    <li>Rofous-backed Redstart (Phoenicurus erythronotus)</li>
                                    <li>Black Redstart (Phoenicurus ochrurus phoenicuroides)</li>
                                    <li>Black-throated Accentor (Prunella atrogularis huttoni)</li>
                                </ul>
                                <p>19.00 Dinner in hotel of Kochkor village.</p>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/5_Blue-capped Redstart.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/5_Blue-capped Redstart_360.jpg" width="360" height="240" title="Blue-capped Redstart" alt="Blue-capped Redstart"></a>
                                <a class="fancybox middle_block" rel="group" href="~/Content/Tours/uploads/5_Blue Whistling Thrush.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/5_Blue Whistling Thrush_360.jpg" width="360" height="240" title="Blue Whistling Thrush" alt="Blue Whistling Thrush"></a>
                            </div>
                        </div>
                        <section class="col-xs-12 col-md-12 col-lg-12">
                            <a class="fancybox" rel="group" href="~/Content/Tours/uploads/Cinereous Vulture_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/Cinereous Vulture_large.jpg" width="360" height="240" title="Cinereous Vulture" alt="Cinereous Vulture"></a>
                        </section>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">Day 7.</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <a class="fancybox" rel="group" href="~/Content/Tours/uploads/9_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/9_small.jpg" width="360" height="240" title="Eurasian Collared Dove" alt="Eurasian Collared Dove"></a>
                                <a class="fancybox middle_block" rel="group" href="~/Content/Tours/uploads/9-1_large.jpg"><img class="img-responsive gallery-photo" src="~/Content/Tours/uploads/9-1_small.jpg" width="360" height="240" title="Laughing Dove" alt="Laughing Dove"></a>
                            </div>
                            <div class="section-description col-xs-12 col-md-8 col-lg-8">
                                <p>
                                    7.00 Breakfast in hotel of Kochkor village. 8.00 Departure towards of Bishkek town. On road you will through across Kuvaky Pass (2,170 m a. s. l.) and go down in a Chu River valley. Then you will go on the most beautiful Boom gorge towards of Tokmok town. Near to it you visit monument X-XI of centuries "Burana” - one of the most ancient constructions of such Central Asia in territory. Nearby there are other ancient gravestone monuments, ancient millstones and stones with rock paintings. After a lunch towards on foothills of the Alexander Mountain Range also stop in hotel of Bishkek town.
                                </p>
                                <p>On road you will see following kinds of birds:</p>
                                <ul>
                                    <li>Eurasian Skylark (Alauda arvensis almasyi)</li>
                                    <li>Horned Lark (Eremophila alpestris albigula)</li>
                                    <li>Bilious porridge (Granativora bruniceps)</li>
                                    <li>Eurasian Collared Dove (Streptopelia decaoctо decaoctо)</li>
                                    <li>Laughing Dove (Streptopelia senegalensis ermanni)</li>
                                    <li>Grey-headed Goldfinch (Carduelis caniceps paropanisi)</li>
                                </ul>
                                <p>14.00 Lunch in mountains 19.00 Dinner in hotel of Bishkek city. For all time of stay and on all routes if will carry, you can see various wild animals, such as the Siberian ibex, the Wolf, the Grey marmot, the Tolai hare, the Fox and others.</p>
                            </div>
                        </div>
                    </section>
                    <section class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">Day 8.</h2>
                        <div class="row">
                            <div class="section-description col-xs-12 col-md-8 col-lg-8">
                                <p>
                                    Breakfast in hotel of Bishkek city. Departure from city to Bishkek airport.
                                </p>
                            </div>
                        </div>
                    </section>

                    <section id="price" class="col-xs-12 col-md-12 col-lg-12">
                        <h2 class="section-title">Price</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-lg-12">
                                <table>
                                    <tr>
                                        <th>Number of persons</th>
                                        <th>Number of days</th>
                                        <th>Price / Person / Day (€)</th>
                                        <th>Deposit (€)</th>
                                    </tr>
                                    <tr>
                                        <td>5 (minimum)</td>
                                        <td>7</td>
                                        <td>195</td>
                                        <td>400</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-6 section-description">
                                <p>
                                    <b>Totally we will provide following services included in costs:</b>
                                </p>
                                <ul>
                                    <li>Meeting and departure of in the Airport of Bishkek</li>
                                    <li>Residing at hotel from the first till last day in single or a double room</li>
                                    <li>Transport together with driver for both clients and equipment</li>
                                    <li>Meals - 3 meals a day (breakfast, lunch, dinner), (including soup, meat, rice, vegetables, bread, sausage, cheese, cucumber, salad, milk, porridge, sugar, bread, butter, marmalade)</li>
                                    <li>Professional ornitological consultant</li>
                                    <li>Services of interpreter</li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-6 section-description">
                                <p>
                                    <b>There are services not included in costs:</b>
                                </p>
                                <ul>
                                    <li>Alcoholic drinks</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    @Html.Partial("_ContactUs");
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 footer">
                <div class="container ">
                    <div class="row">
                        <p>www.satbirds.com @DateTime.Today.Year</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>